  p{
    font-family: Arial;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .price{
    font-size: 18px;
  }
  .currency{
    font-size: 16px;
    color: rgb(165, 165, 165);
  }
  .change{
    color: green;
    font-size: 14px;
  }
  .after-hours{
    color: rgb(165, 165, 165);
    font-size: 14px;
  }
  .after-hours-change{
    font-size: 14px;
    color: red;
  }